<mat-selection-list #movies [multiple]="false">
  <mat-list-option *ngFor="let movie of movieList" (click)="getMovie(movie)">
    <div class="movieItem-content">
      <div class="movieItem-textContent">
        <span>{{ movie.title }}</span>
        <span>Release Date: {{ movie.release }}</span>
      </div>
      <button mat-icon-button aria-label="delete movie">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-list-option>
</mat-selection-list>

<p>Option selected: {{ movies.selectedOptions.selected }}</p>

<movie-detail [item]="movieList[0]"></movie-detail>
